/.idea/misc.xml
/.idea/conquest_bot.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
/.idea/vcs.xml
num_games_done_tracker.txt
/game_times.txt
/CatoModel2.keras
/unused_models/
/unused_results/
/test_deck_sending.py
/errors.txt
/decks/
/__pycache__/
game_results_tracker.txt
test_reference_gather.py
